<div class="container-fluid">

	<h3>Responder la pregunta</h3>

	<div class="row">
		<div class="col-md-4">
			<p>Pregunta</p> </br>
			<p> <%= @q.pregunta %> </p>
		</div>
		<div class="col-md-4">
			<%= form_for @q do |c| %>
				<div class="form-group">
					<%= c.label :respuesta %>
					<%= c.text_area :respuesta, class:"form-control", placeholder:"Ingrese aqui su respuesta" %>
     			</div>
		<%= c.submit 'Enviar respuesta', class:"btn btn-success" %>
		<%end%>	
	</div>
</div>
</div>