<div class="container-fluid">
<h2>Editar Cuenta de: <%= current_user.nombre %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="row">
  <div class="col-md-4">
  <div class="field">

<div class="field">
      <%= f.label :nombre %><br/>
      <%= f.text_field :nombre, autofocus: true, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :apellido %><br/>
      <%= f.text_field :apellido, autofocus: true, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :nacimiento, "Fecha de Nacimiento" %><br/>
      <%= f.date_field :nacimiento, autofocus: true, class:"form-control" %>
    </div>

    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Todavía estamos esperando la confirmacion para: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "Contraseña nueva" %> <i>(Dejar el espacio en blanco si no desea cambios en estos 2 campos)</i><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar contraseña nueva" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "Contraseña Actual" %> <i>(Necesitamos su contraseña actual para poder confirmar sus cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", class:"btn btn-success"  %>
  </div>
<% end %>

</div>
</div>

<h3>Cancelar mi cuenta</h3>

<p>¿Esta disconforme? <%= link_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete, class:"btn btn-danger" %></p>

<%= link_to "Atras", :back %>
</div>
