

<%= link_to "Listado de Productos" ,products_path %>


<table class="table table-hover">
<tr>
	<th>Nombre</th>
	<th>Categoría</th>
	<th>Descripcion</th>
	<th>Fotos</th>
	<th>Acciones</th>
</tr>

<% @prod.each do |p| %>
<tr>
	<td> <%= p.nombre %> </td>
	<td> <%= p.category.nombre %> </td>
	<td> <%= p.descripcion %> </td>
	<td> <%= image_tag(p.foto , width: '75')%> </td>
	<td><%= link_to 'Eliminar', product_path(p), method: :delete, data: {confirm: 'Estas seguro que quieres eliminar este producto'}, class: 'btn btn-danger' %>
		<%= link_to 'Editar', edit_product_path(p), class: 'btn btn-primary' %> </td>
</tr>
<% end %>

</table>