<div class="container-fluid">
<h2> <%= @prod.nombre %> </h2>
<h4> <%= @prod.category.nombre %> </h4>
<div class="row">

	<div class="col-md-8"><%= @prod.descripcion %></div>

	<div class="col-md-4"><%= image_tag(@prod.foto, width: '250')%></div>

</div>

<% if current_user && (@prod.user_id == current_user.id) %>
  <% if @prod.vencimiento <= Date.today %>
  <%= link_to 'Ver ofertas', offers_path , class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Eliminar', product_path(@prod), method: :delete, data: {confirm: 'Estas seguro que quieres eliminar este producto'}, class: 'btn btn-danger' %>
  <%= link_to 'Editar', edit_product_path(@prod), class: 'btn btn-success' %>

  <table class="table table-hover">
  <tr>
    <th>Pregunta</th>
    <th>Respuesta</th>
    <th>Responder</th>
  </tr>
  <% @q.each do |p| %>
  <tr>
    <td> <%= p.pregunta %> </td>
    <td> <%= p.respuesta %> </td>
    <% if p.respuesta.nil? %>
    <td> <%= link_to 'Responder', edit_question_path(p), class: 'btn btn-primary' %></td>
    <% end %>
  </tr>
  <% end %>

 </table>
<% end %> 

<% if !(current_user && (@prod.user_id == current_user.id)) %>

  <table class="table table-hover">
  <tr>
    <th>Pregunta</th>
    <th>Respuesta</th>
  </tr>
  <% @q.each do |p| %>
    <tr>
      <td> <%= p.pregunta %> </td>
      <td> <%= p.respuesta %> </td>
    </tr>
  <% end %>
  </table>



  <div class="row">
  <div class="col-md-4">

  <% if current_user %>
  <h4>Preguntar sobre el producto</h4>
  <%= form_for @question do |f| %>
  <p>
    <%= f.label :pregunta %><br>
    <%= f.text_area :pregunta, autofocus: true, class:"form-control", placeholder:"Ingrese aquí la pregunta que desea preguntarle al vendedor sobre el producto" %>
  </p>
  <%= f.hidden_field :product_id, :value => @prod.id %>
  <p>
    <%= f.submit "Enviar la pregunta", class:"btn btn-primary"  %>
  </p>
<% end %> 
<% end %>
</div>

 <% if @ya_oferto %>
  <div class="col-md-4">

  <h4>Cree una oferta</h4>
  <%= form_for @offer do |f| %>
  <p>
    <%= f.label :razon %><br>
    <%= f.text_area :razon, autofocus: true, class:"form-control", placeholder:"Ingrese aquí la razón por la cual desea comprar el producto" %>
  </p>
  <p>
    <%= f.label :precio %><br>
    <%= f.number_field :precio, autofocus: true, class:"form-control", placeholder:"Ingrese aquí el precio" %>
  </p>
  <p>
    <%= f.label :tarjeta %><br>
    <%= f.text_field :tarjeta, autofocus: true, class:"form-control", placeholder:"Ingrese aquí el número de tarjeta de crédito" %>
  </p>
  <p>
    <%= f.label :codigo %><br>
    <%= f.password_field :codigo, autofocus: true, class:"form-control", placeholder:"Ingrese aquí el codigo de su tarjeta" %>
  </p>
  <%= f.hidden_field :product_id, :value => @prod.id %>
  <p>
    <%= f.submit "Crear oferta", class:"btn btn-success"  %>
  </p>
  <% end %>

  </div>
  <% end %>
  </div>

 

<% end %>

</div>