<!DOCTYPE html>
<html>
<head>
  <title>Bestnid</title>

  <%= stylesheet_link_tag    'application', media: 'all' %> 
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<body id="body">
	<nav class="navbar navbar-default"  id="header">
  		<div class="container-fluid" > 
			<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header" id="text1">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
		</button> 
       
      	<%=image_tag "avatar_Bestnid.png" %>
       
    	</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"  id="text1">
        <li ><a href="#" id="text1">Home <span class="sr-only" >(current)</span></a>
        </li>
        
        <li class="dropdown" id="text1">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
          role="button" aria-haspopup="true" aria-expanded="false" id="text1">
          Categorias <span class="caret">
          </span></a>
          <ul class="dropdown-menu"  id="text1">
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Category 2</a></li>
            <li><a href="#">Category 3</a></li>
            <li><a href="#">Category 4</a></li>
            <li><a href="#">Category 5</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <%=form_tag('/products/index.html.erb',class:"navbar-form navbar-left") do %>
      	<%= text_field_tag :nombre,'', 
      			size:"60px" ,class:"form-control" %>
      	<%end%>
      <%= submit_tag 'Buscar',class:"btn btn-danger" %>


      <ul class="nav navbar-nav navbar-right" >
        <li><a href="#" id="text1">Nosostros</a></li>
        
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if flash[:notice] %>
<div class="alert alert-danger">
<%= flash[:notice] %>
</div>
<% end %>

  <%= yield %> 

</body>

<!--
  	<p align="center">
  	<strong>Copyright 2013-2015 </strong>| Todos los derechos reservados
  	<strong> Bestnid</strong> |La Plata| Argentina.Las fotos son a modo ilustrativo.</p>
-->

</html>